  <h1>Your Collection</h1>

<turbo-frame id="dashboard_content">

<!-- Liste des disques -->
<ul class="list-group">
  <% @collections.each do |collection| %>
   <%= link_to disc_path(collection.disc) do %>

    <div class="card-mini poppins-italic">
      <div class="card-mini-content">
        <h3 class="card-mini-title"><%= collection.disc.title %></h3>
        <p><strong>Artist:</strong> <%= collection.disc.artist %></p>
        <p><strong>Genre:</strong> <%= collection.disc.genre %></p>
        <p><strong>Label:</strong> <%= collection.disc.label %></p>
        <p><strong>Release Date:</strong> <%= collection.disc.release_date.present? ? collection.disc.release_date : "Unknown" %></p>
        <p><strong>Catalog Number:</strong> <%= collection.disc.cat_number %></p>

    </div>


      <!-- Affichage de l'image de couverture si elle existe -->
      <% if collection.disc.cover_url.present? %>
        <div class="card-mini-image" style="background-image: url('<%= collection.disc.cover_url %>');"></div>
      <% end %>
    </div>
    <% end %>

  <% end %>
</ul>
</turbo-frame>
