<div data-controller="message" id="message-<%= message.id %>" class="message <%= message.user === user ? 'sent' : 'received' %>" data-message-user-id-value="<%= message.user.id %>">
  <p class="message-user"><strong><%= message.user.email %>:</strong></p>
  <p class="message-content"><%= message.content %></p>

</div>
