
<%= render "chatroom_video" %>
<div class="sidebar-container">
  <%# <h1 class="sidebar-header">My Chatrooms</h1> %>
  <turbo-frame id="dashboard_content">
    <div class="sidebar-dashboard">
      <!-- Sidebar -->
      <div class="sidebar-section">
        <h2 class="h2-chatroom">Latest Discussions</h2>
        <h3 id="subtitle-chat">Today:</h3>
        <% @chatrooms.each do |chatroom| %>
          <%= link_to chatroom_path(chatroom), data: { turbo_frame: "chatroom" }, class: "sidebar-link" do %>
            <div class="sidebar-item">
              <p class="sidebar-title">

                Chatroom with:
                <% if current_user.id == chatroom.user1_id %>
                  <strong class="sidebar-user"><%= chatroom.user2.email %></strong>
                <% else %>
                  <strong class="sidebar-user"><%= chatroom.user1.email %></strong>
                <% end %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
      <!-- Content Area -->
      <%= turbo_frame_tag "chatroom", class: "sidebar-content" do %>
        <div class="content-hover">
          <div class="image-container">
    <%= image_tag "banner-pic/call4.png", alt: "Call1" %>
  </div>
        </div>

      <% end %>
    </div>
  </turbo-frame>
</div>
