<%= link_to "Back", :back, class: "invisible-button" %>
<%= render "chatroom_video" %>

  <h2 class="chatroom-title">Start to chat with : </h2>
    <% if current_user.id == @chatroom.user1_id %>
    <h2 id="inverted-polygon" class="chatroom-title"><%= @chatroom.user2.email %></h2>
     <% else %>
    <h2 id="inverted-polygon" class="chatroom-title"><%= @chatroom.user1.email %></h2>
    <% end %>
    </h2>
    <%= turbo_frame_tag "chatroom", class: "w-50" do %>
<%= turbo_stream_from @chatroom %>
<div class="chat-container">
  <!-- Conteneur messages -->
  <div id="messages"
     class="message-container mb-4">
  <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message, user: current_user %>
  <% end %>
</div>


  <!-- Formulaire message -->
  <%= simple_form_for [@chatroom, Message.new],
    html: { class: "d-flex mt-3", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |f| %>
    <% other_user = current_user == @chatroom.user1 ? @chatroom.user2 : @chatroom.user1 %>
    <div class="d-flex w-100">
      <%= f.input :content,
        label: false,
        placeholder: "Message à #{other_user.email}",
        wrapper_html: { class: "message-bar flex-grow-1 me-2" },
        input_html: { class: "message-bar form-control message-input" } %>
       <button type="submit" class="custom-btn">
      <i class="fa fa-paper-plane"></i>
    </button>
    </div>
  <% end %>
</div>
<% end %>
