<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "secondspin.png", alt: "Second Spin Records", class: "navbar-logo" %>
    <% end %>

    <!-- Formulaire de recherche -->
    <div class="search-bar mx-auto">
      <%= form_with url: discs_path, method: :get, local: true, class: "d-flex align-items-center" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control search-input",
              placeholder: "Looking for a disc ?" %>
        <button type="submit" class="btn btn-search">
          <i class="bi bi-search"></i>
        </button>
      <% end %>
    </div>

    <!-- Boutons et liens -->
    <ul class="navbar-nav d-flex align-items-center">
      <% if user_signed_in? %>
        <!-- Dashboard -->
        <li class="nav-item">
          <%= link_to dashboard_path, class: "nav-link d-flex align-items-center"  do %>
           <i class="fa-solid fa-house"></i> <p>Dashboard</p>
        <% end %>
        </li>

        <!-- Messages -->
        <li class="nav-item">
          <%= link_to chatrooms_path, class: "nav-link" do %>
           <i class="fa-regular fa-envelope"></i> <p>Messages</p>
        <% end %>
        </li>

        <!-- Poster un disque -->
        <li class="nav-item">
          <%= link_to new_disc_path, class: "nav-link" do %>
          <i class="fa-regular fa-plus"></i>  <p>Add a Record </p>
        <% end %>
        </li>

        <!-- Menu déroulant de l'utilisateur -->
        <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <!-- Lien Login pour utilisateurs non connectés -->
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
