<div class="product-card">
<!-- Cover Image -->
  <% if @disc.cover_url.present? %>
    <div class="cover-image">
      <img src="<%= @disc.cover_url %>" alt="Cover of <%= @disc.title %>" class="img-fluid"/>
    </div>
  <% end %>
  <div class="product-meta ">








    <p><strong>Artist:</strong> <%= @disc.artist %></p>
    <p><strong>Genre:</strong> <%= @disc.genre.presence || "Unknown" %></p>

    <p><strong>Release Date:</strong> <%= @disc.release_date.presence || "Unknown" %></p>
    <p><strong>Label:</strong> <%= @disc.label.presence || "Unknown" %></p>
    <p><strong>Catalog Number:</strong> <%= @disc.cat_number.presence || "N/A" %></p>
<div class="star-ratings-container">
  <% if @average_rating.nil? %>
    <p>Pas encore d'évaluations</p>
  <% else %>
    <div class="star-rating">
      <% (1..5).each do |i| %>
        <% if @average_rating >= i %>
          <span class="star-rating filled">&#9733;</span> <!-- Étoile pleine -->
        <% elsif @average_rating >= i - 0.5 %>
          <span class="star-rating half">&#9733;</span> <!-- Étoile partielle -->
        <% else %>
          <span class="star-rating">&#9733;</span> <!-- Étoile vide -->
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
  </div>
</div>
