<!-- Recommendations -->

   <!-- Navigation Links -->

<div class="reco-content">

  <% if @recommended_discs.present? %>
    <div class="recommended-list">
      <% @recommended_discs.each do |recommended_disc| %>
        <div class="recommended-disc">
          <%= link_to disc_path(recommended_disc) do %>
         <div class="reco-mini poppins-italic">
            <div class="reco-mini-content">
              <h3 class="reco-mini-title"><%= recommended_disc.title %></h3>
              <p><strong>Artist:</strong> <%= recommended_disc.artist %></p>
              <p><strong>Genre:</strong> <%= recommended_disc.genre %></p>
              <p><strong>Label:</strong> <%= recommended_disc.label %></p>
              <p><strong>Release Date:</strong> <%= recommended_disc.release_date.present? ? recommended_disc.release_date : "Unknown" %></p>
              <p><strong>Catalog Number:</strong> <%= recommended_disc.cat_number %></p>
          </div>

      <!-- Affichage de l'image de couverture si elle existe -->
      <% if recommended_disc.cover_url.present? %>
        <div class="reco-mini-image" style="background-image: url('<%= recommended_disc.cover_url %>');"></div>
      <% end %>
    </div>
        </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>No recommendations available.</p>
  <% end %>
  </div>
