
<div class="list-group">

  <%= link_to disc_path(disc), class:"card-mini-link" do %>
    <div class="card-mini poppins-italic">
      <div class="card-mini-content">
        <h3 class="card-mini-title"><%= disc.title %></h3>
        <p><strong>Artist:</strong> <%= disc.artist %></p>
        <p><strong>Genre:</strong> <%= disc.genre %></p>
        <p><strong>Label:</strong> <%= disc.label %></p>
        <p><strong>Release Date:</strong> <%= disc.release_date.present? ? disc.release_date : "Unknown" %></p>
        <p><strong>Catalog Number:</strong> <%= disc.cat_number %></p>
    </div>

      <!-- Affichage de l'image de couverture si elle existe -->
      <% if disc.cover_url.present? %>
        <div class="card-mini-image" style="background-image: url('<%= disc.cover_url %>');"></div>
      <% end %>
    </div>
  <% end %>
  </div>
