<!-- Carrousel pour afficher les disques -->
<div id="discCarousel" class="carousel slide" data-bs-ride="carousel">
 <!-- Contenu du carrousel -->
<div class="carousel-inner">
  <!-- Affichage de chaque image -->
  <div class="carousel-item active">
    <%= image_tag "banner-pic/miles.png", class: "d-block w-100", alt: "Miles Image" %>

  </div>

  <div class="carousel-item">
    <%= image_tag "banner-pic/hardcore.png", class: "d-block w-100", alt: "Hardcore Image" %>

  </div>

  <div class="carousel-item">
    <%= image_tag "banner-pic/tuto.png", class: "d-block w-100", alt: "Tuto Image" %>

  </div>

  <div class="carousel-item">
    <%= image_tag "banner-pic/nouveaute.png", class: "d-block w-100", alt: "Nouveaute Image" %>

  </div>
</div>

  <!-- Contrôles -->
  <a class="carousel-control-prev" href="#discCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#discCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- Liste des disques -->
    <%= render "shared/background_image" %>

<h2 class= "ml-3">Fresh in the crates </h2>
<ul class="list-group">
  <% @discs.each do |disc| %>

  <%= link_to disc_path(disc), class:"card-mini-link" do %>
    <div class="card-mini poppins-italic">
      <div class="card-mini-content">
        <h3 class="card-mini-title"><%= disc.title %></h3>
        <p><strong>Artist:</strong> <%= disc.artist %></p>
        <p><strong>Genre:</strong> <%= disc.genre %></p>
        <p><strong>Label:</strong> <%= disc.label %></p>
        <p><strong>Release Date:</strong> <%= disc.release_date.present? ? disc.release_date : "Unknown" %></p>
        <p><strong>Catalog Number:</strong> <%= disc.cat_number %></p>
    </div>

      <!-- Affichage de l'image de couverture si elle existe -->
      <% if disc.cover_url.present? %>
        <div class="card-mini-image" style="background-image: url('<%= disc.cover_url %>');"></div>
      <% end %>
    </div>
    <% end %>
  <% end %>
</ul>
