<div>
  <%= label_tag :search, "Search for a disc" %>
  <%= text_field_tag :search, "", data: { action: "input->discojs#search" } %>
</div>

<%= form_with model: @disc, url: discs_path, method: :post, data: { controller: "discojs" } do |f| %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, data: { discojs_target: "title" } %>
  </div>

  <div>
    <%= f.label :artist, "Artist" %>
    <%= f.text_field :artist, data: { discojs_target: "artist" } %>
  </div>

  <div>
    <%= f.label :release_date, "Release Date" %>
    <%= f.text_field :release_date, data: { discojs_target: "releaseDate" } %>
  </div>

  <div>
    <%= f.submit "Create Disc" %>
  </div>

  <div id="search-results"></div>
<% end %>



<%= form_with model: @disc, local: true do |f| %>
 <div data-controller="discojs" ></div>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :artist, "Artist" %>
    <%= f.text_field :artist %>
  </div>

  <div>
    <%= f.label :genre, "Genre" %>
    <%= f.text_field :genre %>
  </div>

  <div>
    <%= f.label :suggested_price, "Suggested Price" %>
    <%= f.number_field :suggested_price, step: 0.01 %>
  </div>

  <div>
    <%= f.label :label, "Label" %>
    <%= f.text_field :label %>
  </div>

  <div>
    <%= f.label :release_date, "Release Date" %>
    <%= f.date_field :release_date %>
  </div>

  <div>
    <%= f.label :cat_number, "Catalog Number" %>
    <%= f.text_field :cat_number %>
  </div>

  <div>
    <%= f.label :photo, "Upload an Image" %>
    <%= f.file_field :photo %>
  </div>

  <div>
    <%= f.label :audio, "Upload an Audio File" %>
    <%= f.file_field :audio %>
  </div>

  <div>
    <%= f.submit "Create Disc" %>
  </div>
<% end %>

<%= link_to "Back to all discs", discs_path %>
