<h1><%= @disc.title %></h1>
<p><strong>Artist:</strong> <%= @disc.artist %></p>
<p><strong>Genre:</strong> <%= @disc.genre.presence || "Unknown" %></p>
<p><strong>Release Date:</strong> <%= @disc.release_date.presence || "Unknown" %></p>
<p><strong>Suggested Price:</strong> <%= number_to_currency(@disc.suggested_price) %></p>
<p><strong>Label:</strong> <%= @disc.label.presence || "Unknown" %></p>
<p><strong>Catalog Number:</strong> <%= @disc.cat_number.presence || "N/A" %></p>

<!-- Affichage de l'image de couverture -->
<% if @disc.cover_url.present? %>
  <div>
    <img src="<%= @disc.cover_url %>" alt="Cover of <%= @disc.title %>" class="img-fluid my-3" />
  </div>
<% end %>

<!-- Bouton pour ajouter à la wishlist -->
<%= link_to "Ajouter à ma wishlist", disc_wishlists_path(@disc), data: { turbo_method: :post }, class: "btn btn-secondary mt-3" %>

<h2 class="mt-5">Tracks:</h2>
<% if @disc.tracks.present? %>
<%= render "music_player", disc: @disc %>
  <ul>
    <% @disc.tracks.each do |track| %>
      <li><%= track.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No tracks available.</p>
<% end %>

<h2 class="mt-5">Recommendations:</h2>
<% if @recommended_discs.present? %>
  <ul>
    <% @recommended_discs.each do |recommended_disc| %>
      <li>
        <%= link_to recommended_disc.title, disc_path(recommended_disc) %> -
        <%= recommended_disc.artist %>,
        <%= recommended_disc.genre.presence || "Unknown genre" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No recommendations available.</p>
<% end %>

<!-- Liens de navigation -->
<%= link_to "Back to all discs", discs_path, class: "btn btn-primary mt-3" %><br>
<%= link_to "See more recommendations", reco_disc_path(@disc), class: "btn btn-info mt-3" %>
