
<div class="product-page row"> <h1 ><%= @disc.title %> - <%= @disc.artist %></h1>
<p></p>

  <div class="product-card col-md-8">
<!-- Cover Image -->
  <% if @disc.cover_url.present? %>
    <div class="cover-image">
      <img src="<%= @disc.cover_url %>" alt="Cover of <%= @disc.title %>" class="img-fluid"/>
    </div>
  <% end %>
  <div class="product-meta ">

    <p><strong>Artist:</strong> <%= @disc.artist %></p>
    <p><strong>Genre:</strong> <%= @disc.genre.presence || "Unknown" %></p>

    <p><strong>Release Date:</strong> <%= @disc.release_date.presence || "Unknown" %></p>
    <p><strong>Label:</strong> <%= @disc.label.presence || "Unknown" %></p>
    <p><strong>Catalog Number:</strong> <%= @disc.cat_number.presence || "N/A" %></p>
    <p><strong>Suggested Price:</strong> <%= number_to_currency(@disc.suggested_price) %></p>

<!-- Contact seller button  -->

    <% @disc.collections.each do |collection|%>
      <%= link_to "Contact Seller", chat_with_owner_path(collection.user), class: "btn btn-call-to-action  mt-3" unless collection.user == current_user %>
    <% end %>

 <!-- Wishlist Button -->

    <%= link_to disc_wishlists_path(@disc), data: { turbo_method: :post }, class: "btn btn-wishlist mt-3" do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
  </div>
</div>

<div class="col-md-4">
  <%= render "music_player", disc: @disc %>

  <% if @disc.tracks.present? %>
    <ul class="track-list">
      <% @disc.tracks.each do |track| %>
        <li><%= track.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No tracks available.</p>
  <% end %>

  <h2 class="mt-5">Recommendations:</h2>
  <% if @recommended_discs.present? %>
    <ul class="recommended-list">
      <% @recommended_discs.each do |recommended_disc| %>
        <li>
          <%= link_to recommended_disc.title, disc_path(recommended_disc) %> -
          <%= recommended_disc.artist %>,
          <%= recommended_disc.genre.presence || "Unknown genre" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No recommendations available.</p>
  <% end %>

  <!-- Navigation Links -->
  <div class="product-nav">
        <%= link_to "See more recommendations", reco_disc_path(@disc), class: "btn btn-wishlist mt-3" %>
<%= link_to "Back to all discs", discs_path, class: "btn btn-call-to-action  mt-3" %><br>
  </div>
</div>


<div class="comment-section col-md-8">

    <!-- Commentaires -->
    <%= render "comments/form" %>


  <!-- Liste des commentaires -->
  <div id="comments_list">
    <%= render partial: "comments/comment", collection: @disc.comments, as: :comment %>
  </div>
</div>
</div>
