
<div class="product-page row">
  <div>
  <h1 ><%= @disc.title %> <br> <%= @disc.artist %></h1>
  </div>
<p></p>
<div class="col-md-8">


  <%= turbo_frame_tag "dashboard_content" do %>
  <%= render "shared/product_card" %>

<% end %>


<div class="comment-section">

    <!-- Commentaires -->
    <%= render "comments/form" %>


  <!-- Liste des commentaires -->
  <div id="comments_list">
    <%= render partial: "comments/comment", collection: @disc.comments, as: :comment %>
  </div>
</div>
</div>

<div id="musicrecobar" class="col-md-4">


  <%= render "music_player", disc: @disc %>

  <% if @disc.tracks.present? %>
    <ul class="track-list">
      <% @disc.tracks.each do |track| %>
        <li><%= track.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No tracks available.</p>
  <% end %>


<%= render "shared/reco_mini" %>



</div>





</div>
