    <%= render "shared/background_image" %>
<%= turbo_frame_tag "dashboard_content" do %>

<div class="product-page row">

<div class="col-md-8">

<h1 ><%= @disc.title %> <br> <%= @disc.artist %></h1>

  <%= render "shared/product_card" %>

<%= render "music_player", disc: @disc %>

</div>
<div id="musicrecobar" class="col-md-4">

<h2 id="invert-polygon"class="poppins-semibold  mb-4 ">Recommendations</h2>
<div class= "btn-right-container">
<%= render "shared/reco_mini" %>
<div class="product-nav">
  <%= link_to "See more recommendations", reco_disc_path(@disc), data: {turbo: false}, class: "btn btn-call-to-action mt-3" %>
  <%= link_to "Back to all discs", discs_path, data: {turbo: false}, class: "btn btn-call-to-action  mt-3" %><br>
</div>
<!-- Edit Audio Button -->
 <%= simple_form_for @disc, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.input :audio, as: :file, label: "Upload an Audio File", input_html: { class: "form-control-file" } %>
  </div>
  <%= f.button :submit, "Upload", class: "btn btn-call-to-action  mt-3" %>
<% end %>

<!-- Contact seller button  -->

    <% @disc.wishlists.each do |wishlist|%>
      <% if wishlist.user == current_user && @disc.collections.first.present? %>

        <%= link_to "Contact Seller", chat_with_owner_path(@disc.collections.first.user), data: {turbo: false}, class: "btn btn-call-to-action  mt-3" %>
       <% end %>
    <% end %>


 <!-- Wishlist Button -->

    <%# <% @disc.collections.each do |collection|%>
   <%= render "wishlists/add_btn", disc: @disc, user: current_user %>
<%# <% end %>

 <!-- Remove from Wishlist Button -->
    <% @disc.collections.each do |collection|%>
      <% if collection.is_owner?(current_user) %>
        <%= link_to collection_path(collection), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr de vouloir supprimer cet élément de votre collection ?' }, class: 'disc-btn btn btn-call-to-action mt-2'  do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      <% end %>
      <% end %>


</div>
</div>


<div class="comment-section">

    <!-- Commentaires -->
    <%= render "comments/form" %>


  <!-- Liste des commentaires -->
  <div id="comments_list">
    <%= render partial: "comments/comment", collection: @disc.comments, as: :comment %>
  </div>
</div>
</div>

</div>
<% end %>
