

<h1 class="fix-h1 text-center my-4">My dashboard </h1>

    <%= render "shared/background_video" %>


<div class="container-fluid">
  <div class="row">
    <!-- Barre de navigation verticale -->
    <div class="dashbar">
      <!-- Liens avec des icônes -->
      <%= link_to dashboard_path, class: "nav-link my-3 d-flex flex-column align-items-center" do %>
        <i class="fa-solid fa-house fa-2x"></i>
        <span class="mt-2">Home</span>
      <% end %>
      <%= link_to collections_path, data: { turbo_frame: "dashboard_content" }, class: "nav-link my-3 d-flex flex-column align-items-center" do %>
        <i class="fa-solid fa-music fa-2x"></i>
        <span class="mt-2">Collection</span>
      <% end %>
      <%= link_to wishlists_path, data: { turbo_frame: "dashboard_content" }, class: "nav-link  my-3 d-flex flex-column align-items-center" do %>
        <i class="fa-regular fa-heart fa-2x"></i>
        <span class="mt-2">Wishlist</span>
      <% end %>
      <%= link_to chatrooms_path, data: { turbo_frame: "dashboard_content" }, class: "nav-link  my-3 d-flex flex-column align-items-center" do %>
        <i class="fa-regular fa-message fa-2x"></i>
        <span class="mt-2">Chatrooms</span>
      <% end %>
    </div>

    <!-- Contenu dynamique dans le Turbo Frame -->
    <div class="col-md-10">
      <%= turbo_frame_tag "dashboard_content" do %>
        <div class="dashboard-welcome">
          <div class="row">
            <div class="col-12">
              <!-- Bannière avec bouton "Play Now" -->
              <div class="dashboard-banner">
              </div>
            </div>
          </div>

          <!-- Liste des disques -->
<ul class="list-group">
  <% @recommendations.each do |recommendation| %>
   <%= link_to disc_path(recommendation) do %>

    <div class="card-mini poppins-italic">
      <div class="card-mini-content">
        <h3 class="card-mini-title"><%= recommendation.title %></h3>
        <p><strong>Artist:</strong> <%= recommendation.artist %></p>
        <p><strong>Genre:</strong> <%= recommendation.genre %></p>
        <p><strong>Label:</strong> <%= recommendation.label %></p>
        <p><strong>Release Date:</strong> <%= recommendation.release_date.present? ? recommendation.release_date : "Unknown" %></p>
        <p><strong>Catalog Number:</strong> <%= recommendation.cat_number %></p>

    </div>


      <!-- Affichage de l'image de couverture si elle existe -->
      <% if recommendation.cover_url.present? %>
        <div class="card-mini-image" style="background-image: url('<%= recommendation.cover_url %>');"></div>
      <% end %>
    </div>
    <% end %>

  <% end %>
</ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
