<h1 class="text-center my-4">Bienvenue sur votre espace, <br> <%= current_user.email %> !</h1>

<div class="container-fluid">
  <div class="row">
    <!-- Barre de navigation verticale -->
    <div class="dashbar col-md-2 bg-dark vh-100 d-flex flex-column align-items-center py-4">
      <!-- Liens avec des icônes -->
      <%= link_to dashboard_path, class: "nav-link text-white my-3 d-flex flex-column align-items-center" do %>
        <i class="fa-solid fa-house fa-2x"></i>
        <span class="mt-2">Home</span>
      <% end %>
      <%= link_to collections_path, data: { turbo_frame: "dashboard_content" }, class: "nav-link text-white my-3 d-flex flex-column align-items-center" do %>
        <i class="fa-solid fa-music fa-2x"></i>
        <span class="mt-2">Collection</span>
      <% end %>
      <%= link_to wishlists_path, data: { turbo_frame: "dashboard_content" }, class: "nav-link text-white my-3 d-flex flex-column align-items-center" do %>
        <i class="fa-regular fa-heart fa-2x"></i>
        <span class="mt-2">Wishlist</span>
      <% end %>
      <%= link_to chatrooms_path, data: { turbo_frame: "dashboard_content" }, class: "nav-link text-white my-3 d-flex flex-column align-items-center" do %>
        <i class="fa-regular fa-message fa-2x"></i>
        <span class="mt-2">Chatrooms</span>
      <% end %>
    </div>

    <!-- Contenu dynamique dans le Turbo Frame -->
    <div class="col-md-10">
      <%= turbo_frame_tag "dashboard_content" do %>
        <div class="dashboard-welcome">
          <div class="row">
            <div class="col-12">
              <!-- Bannière avec bouton "Play Now" -->
              <div class="dashboard-banner text-center my-5">
                <h3 class="mb-4">Explorez de nouveaux horizons musicaux</h3>
                <%= link_to "Play Now", collections_path, class: "btn btn-dark btn-lg" %>
              </div>
            </div>
          </div>

          <!-- Section "For You" avec des recommandations basées sur la wishlist -->
          <div class="for-you-section">
            <h3 class="my-4">For You</h3>
            <ul class="list-group">
              <% @recommendations.each do |recommendation| %>
                <li class="list-group-item">
                  <strong><%= recommendation.title %></strong> - <%= recommendation.artist %>
                  <%= link_to "écouter un extrait", "#", class: "btn btn-secondary btn-sm float-end" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
